body {
  background-color: cornflowerblue;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
}
p {
  margin: 5px;
}
.container-out {
  display: flex;
  flex-direction: column;
}
.container {
  background-color: #fff;
  padding: 20px;
  display: flex;
  max-width: 40vw;
}
.container .separador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .separador .img {
  height: 60px;
}
.container .separador .traco {
  margin-top: 5px;
  width: 0px;
  height: 100%;
  border: solid rgb(206, 203, 203) 0.5px;
}
.container .box-comentario {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.container .box-comentario .tempo-nome {
  display: flex;
}
.container .box-comentario .tempo-nome .tempo {
  color: grey;
}
.container .box-comentario .box-interacao {
  display: flex;
}
.container .box-comentario .box-interacao > .btn + .btn {
  margin-left: 5px;
}
.container .box-comentario .box-interacao .link {
  margin-left: 15px;
}
